<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
<listener class-name="com.qa.listeners.TestListener"/>
<!-- <listener class-name="com.qa.listeners.AnnotationTransformer"/> -->
</listeners>
 <test thread-count="5" name="Test"> 
   <parameter name="deviceName" value="Rafi"/>
  <parameter name="udid" value="5cdaec1e"/>
  <parameter name="platformName" value="Android"/>
  <parameter name="platformVersion" value="9.0"/>
    <classes>
<!--       <class name="com.qa.tests.LoginTests"></class> -->
      <class name="com.qa.tests.prescriptionTests"></class>
<!--       <class name="com.qa.tests.LogindetailpageTests"></class> -->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
